language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.7-dev"
  - "3.8-dev"
  - "nightly"
install:
  - python setup.py -q install
  - pip install codecov
script:
  - python -m unittest
  - codecov