language: python
jobs:
  include:
    - name: "Python on Linux"
      python:
        - "2.7"
        - "3.4"
        - "3.5"
        - "3.6"
        - "3.7"
        - "3.8"
        - "3.8-dev"
        - "nightly"
install:
  - python setup.py -q install
  - pip install codecov coverage
script:
  - coverage run -m unittest
after_success:
  - codecov